<%- include('./partials/head') %>


<main>

<img src="/assets/oba_20.png" class="oba-logo" alt="oba-logo">
    

<div class="zoek-balk">
     <div class="zoek-balk-menu">
         <i class='bx bx-search icon'></i>
      <input type="text" placeholder="">
</div>  



<h1 class="welkom-tekst"> Welkom Akiko</h1>

<article class="profielen-container">

    
<% profiles.forEach(profile => { %>
    <article class="profielen">
        <a href="./index/<%= profile.id %>" class="profile-text">
           <% if (profile.avatar) { %>
            <picture>
              <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>?format=avif" type="image/avif">
          <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>?format=webp" type="image/webp">
    <img src="https://fdnd-agency.directus.app/assets/<%= profile.avatar %>" class="profile-avatars" alt="">
</picture>


<div class="profile-name"><%= profile.name %></a></div><details>
    <summary>Gegevens</summary><div>adres</div>
        </details><details>
            <summary>Beschikbaarheid</summary><div>Boek</div>
              </details><details>
                 <summary>Abonnement</summary><div>Type abonnement
              <div>Lidnummer</div></div>
            </details>
         <% } %>
    </article>
<% }) %>

    
</article>

<!-- <section class="overview"><h1><a href="/overview"> Back</a></h1></section> -->
<!-- <section class="home"> -->

</main>

<%- include('./partials/foot') %>