<%- include('./partials/head') %>

   <main>

         <h1 class="titel-favorieten"> Overzichtspagina</h1>
         <!-- <h2 class="books">Books</h2> -->

         <button class="next" id="scroll-to-right" hidden disabled>
            <svg version="1.1" id="icons_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128"
               xml:space="preserve">
               <g id="row1_1_">
                  <g id="_x31__3_">
                     <path class="st2"
                        d="M64 0C28.7 0 0 28.7 0 64s28.7 64 64 64 64-28.7 64-64S99.3 0 64 0zm0 121.6C32.2 121.6 6.4 95.8 6.4 64S32.2 6.4 64 6.4s57.6 25.8 57.6 57.6-25.8 57.6-57.6 57.6zM49.2 38.4 73.6 64 49.2 89.6h13.5L86.4 64 62.7 38.4H49.2z"
                        id="_x32__2_" />
                  </g>
               </g>
            </svg>
         </button>
         <button class="prev" id="scroll-to-left" hidden disabled>
            <svg version="1.1" id="icons_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128"
               style="enable-background:new 0 0 128 128" xml:space="preserve">
          

               <g id="row2_1_">
                  <g id="_x31__4_">
                     <path class="st2"
                        d="M64 .3C28.7.3 0 28.8 0 64s28.7 63.7 64 63.7 64-28.5 64-63.7S99.3.3 64 .3zm0 121C32.2 121.3 6.4 95.7 6.4 64 6.4 32.3 32.2 6.7 64 6.7s57.6 25.7 57.6 57.3c0 31.7-25.8 57.3-57.6 57.3zm1.3-82.8L41.6 64l23.6 25.5h13.5L54.4 64l24.4-25.5H65.3z"
                        id="left_3_" />
                  </g>
               </g>
            </svg>
         </button>

         <article class="scroll-container">
            <% items.forEach(item=> { %>
               <article class="scroll-items">
                  <div class="text-box">
                     <%= item.auteur %>
                  </div>
                  <div class="box">
                     <a href="./detail/<%= item.id %>" class="titel-items">
                        <%= item.title %>
                     </a>
                  </div>
                  <div class="bookmark">
                     <form method="post" action="/detail/<%= item.id %>" class="add-item">
                        <input type="hidden" name="savedItem" value="<%= item.id %>">
                           <label><button class="bookmark" type="submit"><button class="bookmark">
                              <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                <!-- remember to append title with state change  -->
                                <title>Bookmark Icon [Active]</title>
                                <path id="bookmark" d="M4 0h32v40L20 28 4 40V0z" 
                                      stroke="currentColor" 
                                      stroke-width="0" 
                                      clip-path="url(#clip)" />
                                <clipPath id="clip"><use xlink:href="#bookmark"/></clipPath>
                              </svg></label>
                           </button>
                            </button>
                      </form>

                  </div>
                  <% if (item.afbeelding) { %>
                     <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id  %>?format=avif" type="image/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>?format=webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>"
                           width="<%= item.afbeelding.width %>" height="<%= item.afbeelding.height %>"
                           class="items-afbeeldingen"  alt="">
                     </picture>
                     <% } %>
               </article>
               <% }) %>
         </article>

  
         <article class="scroll-container">
            <% items.forEach(item=> { %>
               <article class="scroll-items">
                  <div class="text-box">
                     <%= item.auteur %>
                  </div>
                  <div class="box">
                     <a href="./detail/<%= item.id %>" class="titel-items">
                        <%= item.title %>
                     </a>
                  </div>
                  <div class="bookmark">
                     <form method="POST" action="">
                        <input type="submit" value="submit">
                        <label><button class="bookmark" type="submit">  <button class="bookmark">
                           <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                             <!-- remember to append title with state change  -->
                             <title>Bookmark Icon [Active]</title>
                             <path id="bookmark" d="M4 0h32v40L20 28 4 40V0z" 
                                   stroke="currentColor" 
                                   stroke-width="0" 
                                   clip-path="url(#clip)" />
                             <clipPath id="clip"><use xlink:href="#bookmark"/></clipPath>
                           </svg></label>
                     </form>
                  </div>
                  <% if (item.afbeelding) { %>
                     <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>?format=avif" type="image/avif">
               <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>?format=webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>" loading="lazy"
                           width="<%= item.afbeelding.width %>" height="<%= item.afbeelding.height %>"
                           class="items-afbeeldingen" alt="">
                     </picture>
                     <% } %>
               </article>
               <% }) %>
         </article>


         <article class="scroll-container">
            <% items.forEach(item=> { %>
               <article class="scroll-items">
                  <div class="text-box">
                     <%= item.auteur %>
                  </div>
                  <div class="box">
                     <a href="./detail/<%= item.id %>" class="titel-items">
                        <%= item.title %>
                     </a>
                  </div>
                  <div class="bookmark">
                     <form method="POST" action="">
                        <input type="submit" value="submit">
                        <label><button class="bookmark" type="submit">  <button class="bookmark">
                           <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                             <!-- remember to append title with state change  -->
                             <title>Bookmark Icon [Active]</title>
                             <path id="bookmark" d="M4 0h32v40L20 28 4 40V0z" 
                                   stroke="currentColor" 
                                   stroke-width="0" 
                                   clip-path="url(#clip)" />
                             <clipPath id="clip"><use xlink:href="#bookmark"/></clipPath>
                           </svg></label>
                     </form>
                  </div>

                  <% if (item.afbeelding) { %>
                     <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>?format=avif" type="image/avif">
               <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>?format=webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding.id %>" loading="lazy"
                           width="<%= item.afbeelding.width %>" height="<%= item.afbeelding.height %>"
                           class="items-afbeeldingen" alt="">
                     </picture>
                     <% } %>
               </article>
               <% }) %>
         </article>

   </main>

   <%- include('./partials/foot') %>

      <script>
         document.getElementById("scroll-to-right").addEventListener("click", function () {
            console.log("triggered scroll to right");
            // Get the container element
            var container = document.querySelector(".scroll-container");

            // Calculate how much to scroll (half of the container's width for a smooth experience)
            var scrollAmount = container.clientWidth / 2;

            var scrollLeft = container.scrollLeft;
            var scrollWidth = container.scrollWidth;
    
            scrollLeft += scrollAmount;

            // Als er nog inhoud is om naar rechts te scrollen, schakel dan de 'scroll-to-left' knop in
            if (scrollLeft < scrollWidth) {    
               document.getElementById("scroll-to-left").removeAttribute("disabled");
               console.log("enabled");
            } 
            // Scroll naar rechts
            container.scrollLeft = scrollLeft;
                  // Scroll to the right
         });

         document.getElementById("scroll-to-left").addEventListener("click", function () {
            console.log("triggered scroll to left");
            // Get the container element
            var container = document.querySelector(".scroll-container");

            // Calculate how much to scroll (half of the container's width for a smooth experience)
            var scrollAmount = container.clientWidth / 2;
            
            var scrollLeft = container.scrollLeft;

            scrollLeft -= scrollAmount;

            // Als we aan het begin van de container zijn, schakel dan de 'scroll-to-left' knop uit
            if (scrollLeft <= 0) {
               this.setAttribute("disabled", "disabled");
               console.log("disabled");
            }

            // Scroll naar links
            container.scrollLeft = scrollLeft;
                     });
      </script>