<%- include('./partials/head') %>

<main>

    <img src="/assets/oba_20.png" class="oba-logo" alt="oba-logo">
    

<div class="zoek-balk">
    <div class="zoek-balk-menu">
         <i class='bx bx-search icon'></i>
    <input type="text" placeholder="">
</div>  


<article class="scroll-lijst">
<ul class="leeslijst">
    <% items.forEach(item => { %>
        <article class="lees-lijst"><li>
           <a href="./detail/<%= item.id %>"></a>
             </li>
             <% if (item.afbeelding) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" class="item-afbeelding" alt="">
        <% } %>
        <h2><%= item.title %></a></h2>
<% }); %>
</ul></article>


</article>

</main>

<%- include('./partials/foot') %>