<%- include('./partials/head') %>

    <main>

            <article class="scroll-lijst">
                <% if (items.length) { %>
                    <ul class="leeslijst">
                        <% items.forEach(item=> { %>
                            <li class="leeslijst-item">
                                <% if (item.afbeelding) { %>
                                    <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>"
                                    class="item-afbeelding" alt="">
                                <% } %>
                                <h2>
                                    <a href="./detail/<%= item.id %>">
                                        <%= item.title %></a>
                                    </a>
                                </h2>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>                
                    <h1>OH NEE</h1>
                <% } %>                
            </article>
    </main>


    <%- include('./partials/foot') %>